*.bin
compile_commands.json
.codex
Cargo.lock
!src/core-rs/Cargo.lock
!src/platform/windows/credential_provider_rs/Cargo.lock
target/
zig-cache/
.zig-cache/

# vscode
.history/


# Folder
build
vsxmake2022
.xmake
.vscode
.idea
.vs
.cache
.claude

CMakeLists.txt
# 安装器文件
installer-files
Output

.*
!.github/
!.github/workflows/
!.github/workflows/*.yml
